* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/*--------fundamental settings for the webpage-------*/

html {
  font-size: 16px;
}

body { /*special font from Google API, serif */
  font-family: "Merriweather";
}

h1, h2, h3, h4, h5 {
  font-family: "Work Sans";
}

h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
}

p,
li {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: #616A88;
  font-weight: bolder;
}

a:hover{
  text-decoration: underline;
}

div.clickable { /*workaround to make entire divs clickable without js*/
  position: relative;
}

div.clickable a {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-decoration:none; /* Makes sure the link   doesn't get underlined */
  z-index:10; /* raises anchor tag above everything else in div */
  background-color:white; /*workaround to make clickable in IE */
  opacity: 0; /*workaround to make clickable in IE */
  filter: alpha(opacity=1); /*workaround to make clickable in IE */
}


/*--------section specific CSS-------*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 5;
}

header h1 {
  font-size: 2rem;
}

/*--------top bar with navigation and logo-------*/

.container-topline {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  background-color: #2C3552;
}

.topline {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
}

.topline-header {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  max-width: 30%;
}

.topline-header h1 {
  padding-top: 1rem;
}

.topline-content {
  display: flex;
  justify-content: center;
  max-width: 80%;
  width: 70%;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav .button {
  border-radius: 10%;
  border: none;
  background-color: #F0F8FF;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 2px;
  height: 2.5rem;
  width: 5rem;
  font-size: 0.8rem;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
}

nav a:hover {
  background-color: gray;
}

/*--------Wallpaper with background picture, portrait and blurb-------*/

.container-overview {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/utrecht.jpg");
  background-size: cover;
}

.overview {
  display: flex;
  width: 75%;
  align-items: center;
  margin: 4rem 2rem;
}

.overview-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 65%;
  line-height: 270%;
}

.overview-left h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #0D1531;
  line-height: 120%;
}

.overview-left h2 {
  font-size: 1.8rem;
  color: #1C2646;
  text-align: left;
}

.overview-left-top {
  display: flex;
  padding-top: 0rem;
  padding-bottom: 1.5rem;
  padding-left: 2.2rem;
  padding-right: 0.5rem;
}

.overview-left-bottom {
  display: flex;
  padding-bottom: 0.5rem;
  padding-left: 2.2rem;
  padding-right: 0.5rem;
}

.overview-right {
  display: flex;
  width: 35%;
  justify-content: center;
  align-items: center;
}

.overview-right img {
  display: flex;
  height: 25rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  border: none;
}

/*--------main part of website-------*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--------Section with Bio-------*/

.container-personal {
  display: flex;
  width: 100%;
  justify-content: center;
}

.personal {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
}

.personal-header, .news-header, .wip-header, .articles-header, .reviews-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2rem 0rem;
}

.personal-content {
  display: flex;
  flex-direction: column;
  line-height: 180%;
  align-content: center;
  text-align: center;
}

.personal-content p {
  padding-bottom: 1rem;
}

.personal-content p:last-of-type {
  padding-bottom: none;
  padding-top: 1rem;
}

.personal-content img {
  width: 100%;
  height: auto;
  padding: 3rem 0rem;
  border: 2px solid #2C3552;
}

/*--------Section with News-------*/

.container-news {
  display: flex;
  width: 100%;
  justify-content: center;
}

.news {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news-content {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.news-content li {
  padding: 0.5rem 0rem;
  line-height: 150%;
}

/*--------Section with Work In progress stuff, wrap gallery-------*/

.container-wip {
  display: flex;
  width: 100%;
  justify-content: center;
}

.workinprogress {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  justify-content: center;
}

.wip-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.wip-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #cce6ff;
  border-radius: 10%;
  width: 40%;
  height: 18rem;
  margin: 1rem 1rem;
  box-shadow: 0.8rem 0.8rem 0.3rem #888888;
}

.wip-card h3 {
  margin: 2rem;
  font-weight: bold;
}

.wip-card p {
  margin: 0rem 2rem 1rem;
  text-align: left;
}

/*--------Articles-------*/

.container-articles {
  display: flex;
  justify-content: center;
  width: 100%;
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
}

.articles-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles p {
  text-align: left;
  line-height: 130%;
}

.article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: flex-start;
  margin: 1rem;
  width: 100%;
}

.article-info {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  width: 75%;
  text-overflow: clip;
}

.article-info h3 {
  padding-bottom: 0.7rem;
}

.article-cover {
  display: flex;
  flex-direction: column;
  width: 20%;
  box-shadow: 0.5rem 0.5rem 0.3rem #888888;
}

.articles img {
  width: 100%;
  height: auto;
}

/*--------Reviews-------*/

.container-reviews {
  display: flex;
  justify-content: center;
  width: 100%;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.reviews-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review {
  display: flex;
  flex-direction: column;
  width: 20%;
  flex-wrap: wrap;
  text-align: center;
  margin: 0.5rem;
  }

.review:hover {
  border: 0.7rem solid #434D6E;
}

.reviews img {
  width: 100%;
  height: 16rem;
}

/*--------Footer-------*/

footer {
  display: flex;
  flex-direction: column;
  height: 14rem;
  align-items: center;
  justify-content: center;
}

#rebus {
  width: 4rem;
  height: auto;
}

/*--------Media Queries-------*/


/*--------For desktop, take out tablet and mobile stuff-------*/

@media only screen and (min-width: 1024px) { /*desktop style*/

  .tablet {
    display: none;
  }

  .mobile {
    display: none;
  }

 }

/*--------For tablet------*/

@media only screen and (max-width: 1024px) { /*tablet style*/

  .desktop {
    display: none;
  }

  .mobile {
    display: none;
  }

  .topline {
    width: 100%;
    justify-content: center;
  }

  .topline-content {
    max-width: 100%;
    width: 100%;
    margin: 0rem 1rem;
  }

  .overview, .personal, .news, .workinprogress, .articles, .reviews {
    width: 100%;
    margin: 0rem 1rem;
  }

  .overview {
    margin: 3rem;
  }

  .overview-left-bottom {
    display: none;
  }

  .overview h1 {
    font-size: 3rem;
  }

  .overview-left {
    flex-direction: row;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: none;
    margin: none;
  }

  .overview-left-top {
    width: 90%;
    padding: none;
    margin: none;
  }

  .overview img {
    width: 100%;
    height: auto;
    border-radius: 10%;
  }

  .overview-right {
    padding: none;
    margin: none;
  }

  .wip-content {
    flex-direction: column;
  }

  .wip-card {
    width: 100%;
    height: auto;
    margin: 0.5rem 0.5rem;
    text-align: center;
    box-shadow: none;
  }

  .wip-content img {
    display: none;
  }

  .article-info p {
    display: none;
  }

  .article-info h3 {
    font-size: 2rem;
  }

  .review img {
    height: auto;
  }

}

/*--------For smartphone------*/

@media only screen and (max-width: 600px) { /*smartphone style*/

  .tablet {
    display: none;
  }

  .container-overview {
    align-items: center;
    justify-content: center;
  }

  .overview {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin:none;
    padding: none;
    text-align: center;
    align-content: center;
    justify-content: center;
  }

  .overview-left {
    display: none;
  }

  .overview-left-top {
    max-width: none;
  }

  .overview-right {
    width: 100%;
  }

  .personal {
    width: 95%;
  }

  .news {
    width: 95%;
  }

  .workinprogress {
    width: 95%;
  }

  .wip-card {
    height: 5rem;
    box-shadow: none;
    border-radius: 0%;
    justify-content: center;
  }

  .wip-content {
    align-items: center;
    justify-content: center;
    padding: none;
    margin: none;
  }

  .wip-content h3 {
    font-size: 1.5rem;
  }

  .wip-content p {
    display: none;
  }

  .articles-content {
    flex-wrap: wrap;
  }

  .article-info {
    display: none;
  }

  .article-cover {
    width: 50%;
  }

  .reviews {
    width: 100%;
  }

  .review h5 {
    display: none;
  }

  .review img {
    height: auto;
  }

}
