* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #1E90FF;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 60px;
  background-color: white;
  z-index: 5;
  width: 90%;
}

.logo {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

nav .button {
  border-radius: 10%;
  border: none;
  color:  #F0F8FF;
  text-align: center;
  padding: 2px;
  width: 100px;
  cursor: pointer;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

nav a {
  color: black;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.personal {
  display: flex;
  align-items: center;
  height: 510px;
  width: 1100px;
}

.personal-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 15px;
  width: 750px;
  height: 500px;
}

.personal-description-header {
  display: flex;
  font-size: 28px;
  padding: 10px 0px;
  color: #1E90FF;
}

.personal-description-blurp {
  display: flex;
  font-size: 20px;
  padding: 5px 0px;
}

.personal-description-content {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.picture {
  height: 300px;
  width: 300px;
  display: flex;
  background-image: url("../images/michaelklenk.jpg");
  background-size: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  border: none;
}

.news {
  height: 200px;
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news-header {
    font-size: 28px;
  display: flex;
  padding: 20px 0px;
}

.news-content {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.wip {
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 400px;
  align-items: center;
  justify-content: center;
}

.wip-header {
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 90px;
  padding: 20px 0px;
}

.wip-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  width: 1000px;
}

.wip1, .wip2, .wip3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 250px;
  height: 250px;
  background-color: #cce6ff;
  border-radius: 10%;
}

.wip1 h3, .wip2 h3, .wip3 h3 {
  padding-bottom: 3px;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1100px;
}

.articles-header {
  display: flex;
  font-size: 28px;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.articles-content {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
}

.articles p {
  text-align: justify;
}

.articles img {
  width: 170px;
  height: 200px;
}

.article1, .article2, .article3 {
  display: flex;
  flex-direction: row;
  width: 1100px;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
}

.article1-info, .article2-info, .article3-info {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.article1-info h3, .article2-info h3, .article3-info h3 {
  padding-bottom: 10px;
}


.article1-cover {
  display: flex;
  flex-direction: column;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1100px;
}

.reviews-header {
  font-size: 28px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0px;
}

.reviews-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review1, .review2, .review3, .review4, .review5, .review6, .review7, .review8, .review9, .review10, .review11, .review12 {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px 10px;
  }

.reviews img {
  width: 150px;
  height: 190px;
}

footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  justify-content: center;
}
