* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #616A88;
  font-weight: bolder;
}


header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 5;
}

.container-topline {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  background-color: #2C3552;
}

.topline {
  display: flex;
  width: 960px;
  justify-content: space-between;
  align-items: center;
}

.topline-header {
  display: flex;
  color: white;
}

.topline-content {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

nav .button {
  border-radius: 10%;
  border: none;
  background-color: #F0F8FF;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 2px;
  height: 2.5rem;
  width: 5rem;
  font-size: 0.8rem;
}

nav a {
  color: black;
  text-decoration: none;
}

.container-overview {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/utrecht.jpg");
  background-size: cover;
}

.overview {
  display: flex;
  flex-direction: row;
  width: 960px;
  align-items: center;
}

.overview-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.overview-text h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #0D1531;
}

.overview-text h2 {
  font-size: 1.8rem;
  color: #1C2646;
}

.overview-header {
  display: flex;
  padding-top: 0rem;
  padding-bottom: 3rem;
  padding-left: 2.2rem;
  padding-right: 0.5rem;
}

.overview-blurb {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 2.2rem;
  padding-right: 0.5rem;
}

.overview-picture {
  display: flex;
  height: 20rem;
  width: 20rem;
  background-image: url("../images/miksmile2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  border: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  font-size: 3rem;
}

main p {
  font-size: 1.1rem;
}

.container-personal {
  display: flex;
  width: 100%;
  justify-content: center;
}

.personal {
  display: flex;
  flex-direction: column;
  width: 960px;
  align-items: center;
}

.personal-header, .news-header, .wip-header, .articles-header, .reviews-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0rem;
}

.pesonal-header p, .news-header p, .wip-header p, .articles-header p, .reviews-header p{
  font-size: 2rem;
}

.personal-content {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.personal-content img {
  width: 960px;
  height: auto;
  padding: 3rem 0rem;
}

.container-news {
  display: flex;
  width: 100%;
  justify-content: center;
}

.news {
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news-content {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.container-wip {
  display: flex;
  width: 100%;
  justify-content: center;
}

.workinprogress {
  display: flex;
  flex-direction: column;
  width: 960px;
  align-items: center;
  justify-content: center;
}

.wip-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.wip {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: #cce6ff;
  border-radius: 10%;
  width: 25rem;
  height: 15rem;
  margin: 1rem 1rem;
}

.wip h3 {
  padding-bottom: 3px;
}

.container-articles {
  display: flex;
  justify-content: center;
  width: 100%;
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 960px;
}

.articles-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articles p {
  text-align: justify;
}

.article {
  display: flex;
  align-items: center;
}

.article-info {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  height: 15rem;
  text-overflow: clip;
}

.article-info h3 {
  padding-bottom: 10px;
}

.article-cover {
  display: flex;
  flex-direction: column;
}

.articles img {
  width: 12rem;
  height: 15rem;
}

.container-reviews {
  display: flex;
  justify-content: center;
  width: 100%;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 960px;
}

.reviews-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px 10px;
  }

.reviews img {
  width: 150px;
  height: 190px;
}

footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  justify-content: center;
}

#rebus {
  width: 70px;
  height: auto;
}
